body {
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive; /* Change to your desired font */
    color: white;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.glow {
    color: rgb(255, 0, 0);
    font-size: 100px;
    text-shadow: 0 0 30px rgb(255, 0, 0), 0 0 40px rgb(0, 0, 0), 0 0 90px rgb(0, 0, 0);
}

h2 a {
    font-family:Six caps ;
    font-size: 50px;
    color: white;
    text-decoration: none;
    text-shadow:0 0 20px rgb(255, 255, 255), 0 0 40px rgb(0, 0, 0), 0 0 90px rgb(0, 0, 0); ;
}

h2 a:hover {
    text-decoration: none;
}